<%- include('partials/header') -%>
<div class="container">
  <h1>
    Hello World!
  </h1>
  <p>Here's a nice photo</p>
  <img src="waterfall.jpg" class="img-thumbnail"/>
</div>
<%- include('partials/footer') -%>
