<%- include('partials/header') -%>

<img id='loadedImage' src='/images/man.jpg'/>
<!-- Place your code in the script tag below. You can also use an external .js file -->
<h3>Results:</h3>
<p id="results"></p>

<!-- <canvas id="canvas" height=200 width=200 /> -->

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>

<script src="/js/p5.min.js"></script>
<script src="/js/drawPose.js"></script>

<!-- Main Script -->
<!-- <script>
  var flipHorizontal = false

  var imageElement = document.getElementById('loadedImage');

  posenet.load().then(function(net) {
  const pose = net.estimateSinglePose(imageElement, {
  flipHorizontal: true
  });
  return pose;
  }).then(function(pose){
  console.log(pose);
  var resultsElement = document.getElementById('results');
  resultsElement.innerHTML = JSON.stringify(pose)
  })

  console.log(posenet)

</script> -->

<%- include('partials/footer') -%>
