<%- include('partials/header') -%>
<html>
  <head>
    <script src="/js/p5.min.js"></script>
    <script src="/js/drawPoints.js"></script>
  </head>
  <body>
  </body>
</html>
<%- include('partials/footer') -%>
